@using vps.Models.Event
@model vps.Models.Event.CreateEventDto

<h1>Create</h1>

<div class="row d-flex justify-content-center">
    <div class="col-4">
        <form class="form-control my-5 p-5 shadow-sm" asp-action="Create" asp-controller="Event" method="post">
            <div class="my-2">
                <label class="form-label" for="">Title</label>
                <input asp-for="Title" class="form-control" type="text">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="my-2">
                <label class="form-label" for="">Image</label>
                <input asp-for="Img" class="form-control" type="text">
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>
            <div class="my-2">
                <label class="form-label" for="">Description</label>
                <input asp-for="Description" class="form-control" type="text">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="my-2">
                <label class="form-label" for="">Location</label>
                <input asp-for="Location" class="form-control" type="text">
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="my-2">
                <label class="form-label" for="">Status</label>
                <select asp-for="Status" asp-items="Html.GetEnumSelectList<Status>()" class="form-control">Select</select>
            </div>
            <button class="btn btn-success">Add new event</button>
        </form>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>